:root {
    --bg-color: #f2f3f8;
    --text-color: black;
}

[data-theme="dark"] {
    --bg-color: #22272e;
    --text-color: #adbac7;
}

body {
    background-color: var(--bg-color) !important;
}

#mask {
    background-color: #00000088;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

[data-theme='dark'] .form-control {
    background-color: #1c2128 !important;
    border-color: #444c56 !important;
    color: var(--text-color) !important;
}

[data-theme='dark'] .row {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.portlet {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    box-shadow: 0px 0px 13px 3px rgba(82, 63, 105, 0.05);
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 4px;
}

[data-theme='dark'] .portlet {
    background-color: #32353b;
    color: #adbac7;
    border: 2px solid #444c56;
    border-radius: 5px;
    box-shadow: unset;
}

.portlet .portlet__head {
    display: flex;
    -webkit-box-align: stretch;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    padding: 0 20px;
    margin: 0;
    border-bottom: 1px solid #ebedf2;
    min-height: 60px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 540;
    color: #48465b;
}

[data-theme='dark'] .portlet .portlet__head {
    border-bottom: 1px solid #444c56;
    background-color: #2d333b !important;
    color: #adbac7;
}

.portlet .portlet__body {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
}

[data-theme='dark'] .portlet__body {
    background-color: #22272e !important;
}

.navbar {
    color: #adbac7;
    position: fixed !important;
    width: 100vw;
    z-index: 2;
    height: 3.5rem;
}

main {
    position: relative;
    padding-top: 3.5rem;
    overflow: hidden;
}

[data-theme='dark'] .navbar {
    background-image: linear-gradient(#2d333b, #22272e) !important;
}


[data-theme='dark'] .form {
    background-color: #1c2128 !important;
    color: #adbac7 !important;
    border-radius: 5px !important;
    border-color: #444c56 !important;
}

[data-theme='dark'] .form-group {
    background-color: transparent !important;
}

#logsBtn {
    position: relative;
    margin-left: auto;
    margin-right: 25px;
}

.unread:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff0000;
}

.theme-button {
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    margin-right: 25px;
}

.theme-button:hover {
    box-shadow: 0px 0px 15px #0d0d0dab;
}

.theme-button:active {
    transform: scale(0.98);
}

#logs {
    max-height: 50vh !important;
    height: 600px !important;
    margin-bottom: 10px;
    overflow-y: auto;
    font-size: 13px !important;
    background-color: #f6f6f6;
}

.logs-panel {
    z-index: 2;
    background-color: rgb(255, 255, 255);
    color: var(--text-color);
    border-radius: 10px;
    padding: 15px !important;
    padding-bottom: 10px !important;
    border: 1px solid #cbcbcb;
    box-shadow: 0px 0px 13px 3px rgba(52, 52, 52, 0.226);
}

[data-theme='dark'] .logs-panel {
    background-color: #22272e;
    color: #adbac7;
    border: 1px solid #444c56;
    box-shadow: unset;
}

.col-md-6.logs-panel {
    position: fixed;
    left: 0;
}

#msg-container {
    pointer-events: none;
    z-index: 3;
    position: fixed;
    width: 100vw;
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
}

#msg-container .msg {
    pointer-events: all;
    padding: 9px 12px;
    text-align: center;
    line-height: 1.5714285714285714;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    font-size: 14px;
    background-color: #ffffff;
    margin: 8px 0;
    color: var(--text-color);
    transition: all 0.2s ease-in;
}

[data-theme='dark'] #msg-container .msg {
    background-color: #1f1f1f;
}

#msg-container .msg-fade {
    opacity: 0;
    transform: translateY(-1rem) scale(0.6);
    transition: all 0.2s ease-in-out;
}

#msg-container .msg-icon {
    margin-right: 8px;
    line-height: 0;
    text-align: center;
    font-size: 16px;
}