body {
    background-color: #36393f;
    color: #FFFFFF;
}

.row-dark {    background-color: #36393f;
    color: #FFFFFF;}
    
.dark-mode {
    background-color: #36393f !important;
    color: #FFFFFF;
}

.portlet {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    box-shadow: 0px 0px 13px 3px rgba(82, 63, 105, 0.05);
    background-color: #32353b;
    color: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 4px;
}

.portlet .portlet__head {
    display: flex;
    -webkit-box-align: stretch;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    padding: 0 20px;
    margin: 0;
    border-bottom: 1px solid #ebedf2;
    min-height: 60px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 540;
    color: #FFFFFF;
}

.portlet .portlet__body {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
}

.navbar {
    /* background-color: #202225; */
    background-image: linear-gradient(#202225, #36393f) !important;
    color: #EEEEEE;
}

.form-dark {
    background-color: #2C2F33;
    color: #FFFFFF;
}

.badge-dark {
    /* background-color: #7289DA; */
    background-color: transparent;
    color: #FFFFFF;
}

.save-button {
    display: block;
    width: 100%;
    border: none;
    color: #FFFFFF;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.save-button:focus {
    background-color: #3c45a5;
}

.save-button:hover {
    background-color: #4752c4;
}

.logs {
    color: #FFFFFF
}

.clear-logs {
    background-color: #23272A;
    color: #FFFFFF;
    border-radius: 4px;
    border-color: #FFFFFF;
    cursor: pointer;
    text-align: center;
}

.clear-logs:focus {
    background-color: #42464d;
}

.clear-logs:hover {
    background-color: #3c3f45;
}

.webhook-button {
    background-color: #7289DA;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
}

.webhook-button:focus {
    background-color: #3c45a5;
}

.webhook-button:hover {
    background-color: #4752c4;
}
