name: Close stale issues and PRs

on:
  schedule:
  - cron: "30 1 * * *"

jobs:
  stale:
    permissions:
      issues: write  # for actions/stale to close stale issues
      pull-requests: write  # for actions/stale to close stale PRs
    runs-on: ubuntu-latest
    steps:
    - name: Stale
      uses: actions/stale@v9
      with:
        stale-issue-message: 'This issue is stale because it has been open 30 days with no activity. Remove Stale label or comment or this will be closed in 5 days.'
        stale-pr-message: 'This PR is stale because it has been open 30 days with no activity. Remove Stale label or comment or this will be closed in 5 days.'
        close-issue-message: 'This issue was closed because it has been stalled for 5 days with no activity.'
        close-pr-message: 'This PR was closed because it has been stalled for 5 days with no activity.'
        exempt-issue-labels: 'bug,help wanted,question,documentation,keep'
        exempt-pr-labels: 'bug,help wanted,question,documentation,keep'
        days-before-stale: 30
        days-before-close: 5
