name: test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goarch: [amd64, arm64]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Test
        run: |
          # Run tests only when GOARCH is amd64, otherwize run builds only.
          if [ "${{ matrix.goarch }}" = "amd64" ]; then
            make build test
          else
            GOARCH=${{ matrix.goarch }} make build
          fi
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ddns-go_${{ matrix.goarch }}
          path: ddns-go
