name: test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'

      - name: Test
        run: make build test

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: ddns-go
          path: ddns-go
