<html lang="zh">

<head>
  <link class="theme" rel="stylesheet" type="text/css" href="./static/common.css">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="jeessy2">
  <title>DDNS-GO</title>
  <link rel="stylesheet" href="./static/bootstrap.min.css">
  <link rel="stylesheet" href="./static/theme-button.css">
</head>

<body>
  <header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="button-container container d-flex justify-content-between">
        <a target="blank" href="https://github.com/jeessy2/ddns-go" class="navbar-brand d-flex align-items-center">
          <strong>DDNS-GO</strong>
        </a>
        <button class="theme-button gg-dark-mode" onclick="toggleTheme()"></button>
        <span class="badge badge-secondary">{{.Version}}</span>
      </div>
    </div>
  </header>

  <main role="main" style=" overflow: hidden;">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form>

          <button class="btn btn-primary submit_btn" style="margin-top: 15px; margin-bottom: 15px;">Save</button>

          <div class="alert alert-success" style="display: none;">
            <strong id="resultMsg"></strong>
          </div>

          <div class="portlet">
            <h5 class="portlet__head">DNS服务商</h5>
            <div class="portlet__body">

              <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
{{range $k,$v := .ConfigMap}}
                  <div class="form-check form-check-inline col-form-label">
                    <input class="form-check-input" type="radio" name="DnsName" id="{{$k}}" value="{{$k}}"
                      onclick="displayDNS('{{$k}}')">
                    <label class="form-check-label" for="{{$k}}">{{$v.LabelName}}</label>
                  </div>
{{end}}
                </div>
              </div>

{{range $k,$v := .ConfigMap}}
              <div id="{{$k}}_DNS" style="display: none">
                <div class="form-group row">
                  <label for="{{$k}}_dns_help" id="{{$k}}_dnsHelpLabel" class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10">
                    <small id="{{$k}}_dns_help" class="form-text text-muted">{{$v.LabelHelp}}</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="{{$k}}_DnsID" id="{{$k}}_dnsIdLabel" class="col-sm-2 col-form-label">{{$v.LabelID}}</label>
                  <div class="col-sm-10">
                    <input class="form-control form" name="{{$k}}_DnsID" id="{{$k}}_DnsID" value="{{$v.DNS.ID}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="{{$k}}_DnsSecret" id="{{$k}}_dnsSecretLabel" class="col-sm-2 col-form-label">{{$v.LabelSecret}}</label>
                  <div class="col-sm-10">
                    <input class="form-control form" name="{{$k}}_DnsSecret" id="{{$k}}_DnsSecret" value="{{$v.DNS.Secret}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">TTL</label>
                  <div class="col-sm-10">
                    <select class="form-control form" name="{{$k}}_TTL" value="{{$v.TTL}}">
                      <option value="">自动</option>
                      <option value="1">1秒</option>
                      <option value="5">5秒</option>
                      <option value="10">10秒</option>
                      <option value="60">1分钟</option>
                      <option value="120">2分钟</option>
                      <option value="600">10分钟</option>
                      <option value="1800">30分钟</option>
                      <option value="3600">1小时</option>
                    </select>
                    <small id="{{$k}}_ttl_help" class="form-text text-muted">如账号支持更小的 TTL，可修改。IP 有变化时才会更新 TTL</small>
                  </div>
                </div>
              </div>
{{end}}

            </div>
          </div>

{{range $k,$v := .ConfigMap}}
          <div class="portlet" id="{{$k}}_IPv4" style="display: none">
            <h5 class="portlet__head">IPv4</h5>
            <div class="portlet__body">

              <div class="form-group row">
                <label for="{{$k}}_ipv4_enable" class="col-sm-2">是否启用</label>
                <div class="col-sm-10">
                  <input type="checkbox" class="form-check-inline" style="margin-top: 5px;" id="{{$k}}_ipv4_enable"
                    name="{{$k}}_Ipv4Enable" {{if eq $v.Ipv4.Enable true}}checked{{end}}>
                </div>
              </div>

              <div class="form-group row">
                <label for="{{$k}}_ipv4_url" class="col-sm-2 col-form-label">获取 IP 方式</label>
                <div class="col-sm-10">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="{{$k}}_Ipv4GetType" id="{{$k}}_urlRadioIpv4" value="url"
                      onclick="clickIPv4('{{$k}}','url')">
                    <label class="form-check-label" for="{{$k}}_urlRadioIpv4">通过接口获取</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="{{$k}}_Ipv4GetType" id="{{$k}}_netInterfaceRadioIpv4"
                      value="netInterface" onclick="clickIPv4('{{$k}}','netInterface')">
                    <label class="form-check-label" for="{{$k}}_netInterfaceRadioIpv4">通过网卡获取</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="{{$k}}_Ipv4GetType" id="{{$k}}_cmdRadioIpv4"
                      value="cmd" onclick="clickIPv4('{{$k}}','cmd')">
                    <label class="form-check-label" for="{{$k}}_cmdRadioIpv4">通过命令获取</label>
                  </div>
                  <input type="url" class="form-control form" name="{{$k}}_Ipv4Url" id="{{$k}}_ipv4_url"
                    aria-describedby="{{$k}}_ipv4_url_help" value="{{$v.Ipv4.URL}}" style="display: none;">
                  <select class="form-control" id="{{$k}}_ipv4_netInterface_select" name="{{$k}}_Ipv4NetInterface"
                    value="{{$v.Ipv4.NetInterface}}" style="display: none;"></select>
                  <input type="text" class="form-control form" id="{{$k}}_ipv4_cmd" name="{{$k}}_Ipv4Cmd"
                    aria-describedby="{{$k}}_ipv4_url_help" value="{{$v.Ipv4.Cmd}}" style="display: none;">
                  <small id="{{$k}}_ipv4_url_help" class="form-text text-muted"></small>
                </div>
              </div>

              <div class="form-group row">
                <label for="{{$k}}_ipv4_domains" class="col-sm-2 col-form-label">Domains</label>
                <div class="col-sm-10">
                  <textarea class="form-control form" id="{{$k}}_ipv4_domains" name="{{$k}}_Ipv4Domains" rows="3"
                    aria-describedby="{{$k}}_ipv4_domains_help">
{{- range $i, $l := $v.Ipv4.Domains}}
{{$l}}
{{- end -}}
                  </textarea>
                  <small id="{{$k}}_ipv4_domains_help" class="form-text text-muted">
                    一行一个域名，可使用冒号手动分隔主机记录，如：ddns:example.com.cn <a target="blank"
                      href="https://github.com/jeessy2/ddns-go/wiki/传递自定义参数">支持传递自定义参数</a>
                  </small>
                </div>
              </div>

            </div>
          </div>

          <div class="portlet" id="{{$k}}_IPv6" style="display: none;">
            <h5 class="portlet__head">IPv6</h5>
            <div class="portlet__body">

              <div class="form-group row">
                <label for="{{$k}}_ipv6_enable" class="col-sm-2">是否启用</label>
                <div class="col-sm-10">
                  <input type="checkbox" class="form-check-inline" style="margin-top: 5px;" id="{{$k}}_ipv6_enable"
                    name="{{$k}}_Ipv6Enable" {{if eq $v.Ipv6.Enable true}}checked{{end}}>
                </div>
              </div>

              <div class="form-group row">
                <label for="{{$k}}_ipv6_url" class="col-sm-2 col-form-label">获取 IP 方式</label>
                <div class="col-sm-10">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="{{$k}}_Ipv6GetType" id="{{$k}}_urlRadioIpv6" value="url"
                      onclick="clickIPv6('{{$k}}','url')">
                    <label class="form-check-label" for="{{$k}}_urlRadioIpv6">通过接口获取</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="{{$k}}_Ipv6GetType" id="{{$k}}_netInterfaceRadioIpv6"
                      value="netInterface" onclick="clickIPv6('{{$k}}','netInterface')">
                    <label class="form-check-label" for="{{$k}}_netInterfaceRadioIpv6">通过网卡获取</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="{{$k}}_Ipv6GetType" id="{{$k}}_cmdRadioIpv6"
                      value="cmd" onclick="clickIPv6('{{$k}}','cmd')">
                    <label class="form-check-label" for="{{$k}}_cmdRadioIpv6">通过命令获取</label>
                  </div>
                  <input type="url" class="form-control form" id="{{$k}}_ipv6_url" name="{{$k}}_Ipv6Url"
                    aria-describedby="{{$k}}_ipv6_url_help" value="{{$v.Ipv6.URL}}" style="display: none;">
                  <select class="form-control" id="{{$k}}_ipv6_netInterface_select" name="{{$k}}_Ipv6NetInterface"
                    value="{{$v.Ipv6.NetInterface}}" style="display: none;"></select>
                  <input type="text" class="form-control form" id="{{$k}}_ipv6_cmd" name="{{$k}}_Ipv6Cmd"
                    aria-describedby="{{$k}}_ipv6_url_help" value="{{$v.Ipv6.Cmd}}" style="display: none;">
                  <small id="{{$k}}_ipv6_url_help" class="form-text text-muted"></small>
                </div>
              </div>

              <div class="form-group row" id="{{$k}}_IPv6RegDiv" style="display: none;">
                <label for="{{$k}}_IPv6Reg" class="col-sm-2 col-form-label">匹配正则表达式</label>
                <div class="col-sm-10">
                  <input class="form-control form" name="{{$k}}_IPv6Reg" id="{{$k}}_IPv6Reg" value="{{$v.Ipv6.IPv6Reg}}"
                    aria-describedby="{{$k}}_IPv6Reg_help">
                  <small id="{{$k}}_IPv6Reg_help" class="form-text text-muted">可使用 @1 指定第一个IPv6地址, @2 指定第二个IPv6地址...
                    也可使用正则表达式匹配指定的IPv6地址, 留空不启用</small>
                </div>
              </div>

              <div class="form-group row">
                <label for="{{$k}}_ipv6_domains" class="col-sm-2 col-form-label">Domains</label>
                <div class="col-sm-10">
                  <textarea class="form-control form" id="{{$k}}_ipv6_domains" name="{{$k}}_Ipv6Domains" rows="3"
                    aria-describedby="{{$k}}_ipv6_domains_help">
{{- range $i, $l := $v.Ipv6.Domains}}
{{$l}}
{{- end -}}
                  </textarea>
                  <small id="{{$k}}_ipv6_domains_help" class="form-text text-muted">
                    一行一个域名, 可使用冒号手动分隔主机记录, 如：ddns:example.com.cn <a target="blank"
                      href="https://github.com/jeessy2/ddns-go/wiki/传递自定义参数">支持传递自定义参数</a>
                  </small>
                </div>
              </div>

            </div>
          </div>
{{end}}

          <div class="portlet">
            <h5 class="portlet__head">其它配置</h5>
            <div class="portlet__body">

              <div class="form-group row">
                <label for="NotAllowWanAccess" class="col-sm-2 col-form-label">禁止公网访问</label>
                <div class="col-sm-10">
                  <input type="checkbox" class="form-check-inline" style="margin-top: 5px;" id="NotAllowWanAccess"
                    name="NotAllowWanAccess" {{if eq .ConfigGlobal.NotAllowWanAccess true}}checked{{end}}>
                  <small id="NotAllowWanAccess_help" class="form-text text-muted">默认启用，可禁止从公网访问本页面</small>
                </div>
              </div>

              <div class="form-group row">
                <label for="Username" class="col-sm-2 col-form-label">登录用户名</label>
                <div class="col-sm-10">
                  <input class="form-control form" name="Username" id="Username" value="{{.ConfigGlobal.Username}}"
                    aria-describedby="Username_help">
                  <small id="Username_help" class="form-text text-muted">为保护你的信息安全，建议输入</small>
                </div>
              </div>

              <div class="form-group row">
                <label for="Password" class="col-sm-2 col-form-label">登录密码</label>
                <div class="col-sm-10">
                  <input class="form-control form" type="password" name="Password" id="Password" value="{{.ConfigGlobal.Password}}"
                    aria-describedby="password_help">
                  <small id="password_help" class="form-text text-muted">为保护你的信息安全，建议输入</small>
                </div>
              </div>

            </div>
          </div>

          <div class="portlet">
            <h5 class="portlet__head">Webhook</h5>
            <div class="portlet__body">

              <div class="form-group row">
                <label for="WebhookURL" class="col-sm-2 col-form-label">URL</label>
                <div class="col-sm-10">
                  <input class="form-control form" name="WebhookURL" id="WebhookURL" value="{{.ConfigGlobal.WebhookURL}}"
                    aria-describedby="WebhookURL_help">
                  <small id="WebhookURL_help" class="form-text text-muted">
                    <a target="blank" href="https://github.com/jeessy2/ddns-go#webhook">点击参考官方 Webhook 说明</a><br />
                    支持的变量 #{ipv4Addr}, #{ipv4Result}, #{ipv4Domains}, #{ipv6Addr}, #{ipv6Result}, #{ipv6Domains}
                  </small>
                </div>
              </div>

              <div class="form-group row">
                <label for="WebhookRequestBody" class="col-sm-2 col-form-label">RequestBody</label>
                <div class="col-sm-10">
                  <textarea class="form-control form" id="WebhookRequestBody" name="WebhookRequestBody" rows="3"
                    aria-describedby="WebhookRequestBody_help">
{{- .ConfigGlobal.WebhookRequestBody -}}
                  </textarea>
                  <small id="WebhookRequestBody_help" class="form-text text-muted">
                    如 RequestBody 为空则为 GET 请求，否则为 POST 请求。支持的变量同上
                  </small>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <button class="webhook-button btn btn-primary btn-sm" id="webhookTestBtn"
                    aria-describedby="webhookTestBtn_help">模拟测试Webhook</button>
                  <small id="webhookTestBtn_help" class="form-text text-muted"></small>
                </div>
              </div>

            </div>
          </div>

          <button class="save-button btn btn-primary submit_btn" style="margin-bottom: 15px;">Save</button>

        </form>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-outline-primary btn-sm" style="margin-top: 68px;"
          id="clearLogBtn">清空日志</button>
        <p class="logs font-weight-light text-break" style="margin-top: 20px;font-size: 13px;" id="logs"></p>
      </div>
    </div>
  </main>

  <script>
    const names = "{{range $k,$v := .ConfigMap}},{{$k}}{{end}}".split(',').slice(1)
    const ipv4help ={
      'url': '支持多个接口，使用半角逗号分隔。如：https://myip4.ipip.net, https://ddns.oray.com/checkip, https://ip.3322.net',
      'netInterface': '通过网卡获取 IP，建议在多宽带的路由器中使用',
      'cmd':
`<p>
  通过命令获取 IP，仅使用标准输出（stdout）的第一个匹配的 IPv4 地址。如：ip -4 addr show eth1
  <a target="blank" href="https://github.com/jeessy2/ddns-go/wiki/通过命令获取IP参考">点击参考更多</a>
  <br /><strong>警告：执行的命令拥有本服务所具有的权限，请谨慎使用！</strong>
</p>`
    }
    const ipv6help ={
      'url': '支持多个接口，使用半角逗号分隔。如：https://speed.neu6.edu.cn/getIP.php, https://v6.ident.me, https://6.ipw.cn',
      'netInterface': '通过网卡获取 IP，如不指定匹配正则表达式，将默认使用第一个 IPv6 地址',
      'cmd':
`<p>
  通过命令获取 IP，仅使用标准输出（stdout）的第一个匹配的 IPv6 地址。如：ip -6 addr show eth1
  <a target="blank" href="https://github.com/jeessy2/ddns-go/wiki/通过命令获取IP参考">点击参考更多</a>
  <br /><strong>警告：执行的命令拥有本服务所具有的权限，请谨慎使用！</strong>
</p>`
    }
    function displayDNS(name){
      for (i in names) {
        document.getElementById(names[i]+'_DNS').style.display = names[i]==name?'block':'none'
        document.getElementById(names[i]+'_IPv4').style.display = names[i]==name?'block':'none'
        document.getElementById(names[i]+'_IPv6').style.display = names[i]==name?'block':'none'
      }
    }
    function clickIPv4(name,type){
      document.getElementById(name+'_ipv4_url').style.display = type=='url'?'block':'none'
      document.getElementById(name+'_ipv4_netInterface_select').style.display = type=='netInterface'?'block':'none'
      document.getElementById(name+'_ipv4_cmd').style.display = type=='cmd'?'block':'none'
      document.getElementById(name+'_ipv4_url_help').innerHTML = ipv4help[type]
      if (type=='netInterface') fetchnetInterface('ipv4')
    }
    function clickIPv6(name,type){
      document.getElementById(name+'_ipv6_url').style.display = type=='url'?'block':'none'
      document.getElementById(name+'_ipv6_netInterface_select').style.display = type=='netInterface'?'block':'none'
      document.getElementById(name+'_IPv6RegDiv').style.display = type=='netInterface'?'block':'none'
      document.getElementById(name+'_ipv6_cmd').style.display = type=='cmd'?'block':'none'
      document.getElementById(name+'_ipv6_url_help').innerHTML = ipv6help[type]
      if (type=='netInterface') fetchnetInterface('ipv6')
    }
    window.addEventListener('load', () => {
      typeipv4 = "{{range $k,$v := .ConfigMap}},{{$k}}_{{$v.Ipv4.GetType}}RadioIpv4{{end}}".split(',').slice(1)
      typeipv6 = "{{range $k,$v := .ConfigMap}},{{$k}}_{{$v.Ipv6.GetType}}RadioIpv6{{end}}".split(',').slice(1)
      for (i in names) {
        document.getElementById(typeipv4[i]).click()
        document.getElementById(typeipv6[i]).click()
      }
      document.getElementById(names[0]).click()
    })
  </script>

  <script>
    window.addEventListener('load', () => {
      document.querySelectorAll(".submit_btn").forEach(button => button.addEventListener('click', e => {
        e.preventDefault()
        document.querySelector('body').scrollTo({
          top: 0,
          behavior: 'smooth'
        })
        fetch('./save', {
          method: 'POST',
          body: new FormData(document.querySelector('form'))
        }).then(res => res.text()).then(result => {
          document.querySelector('.alert').style.display = 'block'
          const alertElement = document.querySelector('.alert')
          const msg = document.getElementById('resultMsg')
          if (result !== "ok") {
            alertElement.classList.remove('alert-success')
            alertElement.classList.add('alert-danger')
            msg.innerText = result
          } else {
            // ok
            alertElement.classList.remove('alert-danger')
            alertElement.classList.add('alert-success')
            msg.innerText = '保存成功'
            setTimeout(() => {
              document.querySelector('.alert').style.display = 'none'
            }, 3000)
          }
        }).catch(err => {
          alert(`保存失败: ${err.toString()}`)
        })
      }))
    })
  </script>

  <script>
    function getLogs(loop = false) {
      fetch('./logs').then(res => res.text()).then(result => {
        document.getElementById('logs').innerHTML = result
      }).finally(() => {
        if (loop) {
          setTimeout(getLogs, 5 * 1000, true)
        }
      })
    }

    window.addEventListener('load', () => {
      getLogs(true)

      document.getElementById("clearLogBtn").addEventListener("click", e => {
        e.preventDefault();
        fetch('./clearLog').then(() => {
          getLogs()
        }).catch(err => {
          alert(err.toString())
        })
      })
    })
  </script>

  <script>
    function fetchnetInterface(label) {
      fetch(`./${label}NetInterface`).then(res => res.text()).then(result => {
        const df = new DocumentFragment()
        if (result) {
          const interfaces = JSON.parse(result)
          for (const interface of interfaces) {
            const option = document.createElement('option')
            option.value = interface.Name
            option.innerText = `${interface.Name}(${interface.Address.join(", ")})`
            df.appendChild(option)
          }
        } else {
          const option = document.createElement('option')
          option.value = ''
          option.innerText = '没有找到可用的网卡'
          df.appendChild(option)
        }
        for (i in names) {
          selectElement = document.getElementById(`${names[i]}_${label}_netInterface_select`)
          while(selectElement.lastChild) {selectElement.removeChild(selectElement.lastChild)}
          selectElement.appendChild(df.cloneNode(true))
        }
      })
    }
  </script>

  <script>
    window.addEventListener('load', () => {
      document.getElementById('webhookTestBtn').addEventListener('click', e => {
        e.preventDefault();
        const formData = new FormData();
        formData.append("URL", document.getElementById('WebhookURL').value)
        formData.append("RequestBody", document.getElementById('WebhookRequestBody').value)
        fetch('./webhookTest', {
          method: 'POST',
          body: formData
        }).then(() => {
          const webhookTestBtnHelp = document.getElementById('webhookTestBtn_help')
          webhookTestBtnHelp.innerText = '提交模拟测试成功! 数据为假数据, 只是为了测试Webhook正常与否'
          setTimeout(() => {
            webhookTestBtnHelp.innerText = ''
          }, 5000)
        }).catch(err => {
          alert(err.toString())
        })
      })
    })
  </script>

  <script>
    function toggleTheme() {
      const theme = document.getElementsByTagName('link')[0];

      if (theme.getAttribute('href') === './static/common-light.css') {
        theme.setAttribute('href', './static/common-dark.css');
      } else {
        theme.setAttribute('href', './static/common-light.css');
      }
    }
  </script>

</html>